*.csproj
*.sln

Library/
obj/
Temp/

Assets/Editor/Image Effects/
Assets/Standard Assets/
Assets/UnityVS/

Assets/Textures/
UnityVS.procedural_terrain.sln.ide/
UnityVS.framework.v12.suo
.vs/
UnityVS.framework.sln.ide/
Assets/Plugins/
